body.transmate-popup {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 3px;
  width: 200px;
}

.transmate-popup h1 {
  font-size: 18px;
  margin: 0px;
  margin-left: 5px;
}

.transmate-popup button {
  display: block;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.transmate-popup button:hover {
  background-color: #45a049;
}

.transmate-popup .top {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transmate-popup #transmate-icon {
  width: 24px;
  height: 24px;
}
